{% extends 'base.html' %}

{% block title %}
    {{ city }} | Cities | {{ WEBSITE }}
{% endblock %}

{% block content %}

    <h1>Cities: {{ city }}</h1>

    <p>Name: {{ city.name }}</p>
    <p>Country: <a href="{% url 'country' pk=city.country.pk %}">{{ city.country.name }}</a></p>
    <p>id: {{ city.pk }}</p>

    <a href="edit"><button type="button" class="btn btn-outline-primary">Edit</button></a>
    <a href="delete"><button type="button" class="btn btn-outline-danger">Delete</button></a>
    <a href="{% url 'city' %}"><button type="button" class="btn btn-outline-secondary">Back to the List</button></a>

{#    <br>#}
{#    <a href="{% url 'city' %}"><<< Back to the List of Cities</a>#}

{% endblock %}


