{% extends 'base.html' %}

{% load i18n %}

{% block title %}
    {{ city }} | {% trans 'Cities' %} | {{ WEBSITE }}
{% endblock %}

{% block content %}

    <h1>{% trans 'Cities' %}: {{ city }}</h1>

    <form>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{% trans 'Name' %}: </label>
            <div class="col-sm-10 form-control-plaintext">
                {{ city.name }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{% trans 'Country' %}: </label>
            <div class="col-sm-10 form-control-plaintext">
                <a href="{% url 'country' pk=city.country.pk %}">{{ city.country.name }}</a>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">id: </label>
            <div class="col-sm-10 form-control-plaintext">
                {{ city.pk }}
            </div>
        </div>

        {% include 'chainstore/buttons_edit_delete_goback.html' %}

    </form>

    {%  comment %} City Detail View v1
    <p>Name: {{ city.name }}</p>
    <p>Country: <a href="{% url 'country' pk=city.country.pk %}">{{ city.country.name }}</a></p>
    <p>id: {{ city.pk }}</p>

    <a href="edit"><button type="button" class="btn btn-outline-primary">{% trans 'Edit' %}</button></a>
    <a href="delete"><button type="button" class="btn btn-outline-danger">Delete</button></a>
    <a href="{% url 'city' %}"><button type="button" class="btn btn-outline-secondary">Back to the List</button></a>

{#    <br>#}
{#    <a href="{% url 'city' %}"><<< Back to the List of Cities</a>#}
{% endcomment %}
{% endblock %}


