{% extends 'base.html' %}

{% block title %}
    Countries | {{ WEBSITE }}
{% endblock %}

{% block content %}

    <h1>Countries</h1>

    <p><a href="add"><input type="submit" value="Add"></a></p>

    {% if countries %}

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>id</th>
            </tr>
            </thead>

            <tbody>
            {% for country in countries %}
                <tr>
                    <td><a href="{% url 'country' pk=country.pk %}">{{ forloop.counter }}</a></td>
                    <td><a href="{% url 'country' pk=country.pk %}">{{ country.name }}</a></td>
                    <td><a href="{% url 'country' pk=country.pk %}">{{ country.pk }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p class="text-muted">
            <i>List of Countries is empty.</i>
        </p>

    {% endif %}

    <p><a href="add"><input type="submit" value="Add"></a></p>

{% endblock %}