{% extends 'base.html' %}

{% load i18n %}

{% block title %}
    {{ country.name }} | {%  trans 'Countries' %} | {{ WEBSITE }}
{% endblock %}

{% block content %}

    <h1>{%  trans 'Countries' %}: {{ country }}</h1>

    <form>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{%  trans 'Name' %}: </label>
            <div class="col-sm-10 form-control-plaintext">
                {{ country.name }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">id: </label>
            <div class="col-sm-10 form-control-plaintext">
                {{ country.pk }}
            </div>
        </div>

        {% include 'chainstore/buttons_edit_delete_goback.html' %}

    </form>

    {% comment %}
    <p>Name: {{ country.name }}</p>
    <p>id: {{ country.pk }}</p>

    <a href="edit">
        <button type="button" class="btn btn-outline-primary">{% trans 'Edit' %}</button>
    </a>
    <a href="delete">
        <button type="button" class="btn btn-outline-danger">Delete</button>
    </a>
    <a href="{% url 'country' %}">
        <button type="button" class="btn btn-outline-secondary">Back to the List</button>
    </a>
    {#    <a href="{% url 'country' %}"><<< Back to the List of Countries</a>#}
{% endcomment %}
{% endblock %}

