{% extends 'base.html' %}

{% block title %}
    Contact Persons | {{ WEBSITE }}
{% endblock %}

{% block content %}

    <h2>Contact Persons</h2>

    {% if persons %}
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthdate</th>
                <th>Gender</th>
                <th>e-mail</th>
                <th>id</th>

            </tr>
            </thead>

            <tbody>
            {% for person in persons %}
                <tr>
                    <td><a href="{% url 'person' pk=person.pk %}">{{ forloop.counter }}</a></td>
                    <td><a href="{% url 'person' pk=person.pk %}">{{ person.first_name }}</a></td>
                    <td><a href="{% url 'person' pk=person.pk %}">{{ person.last_name }}</a></td>
                    <td>{{ person.birthdate }}</td>
                    <td>{{ person.get_gender_display }}</td>
                    <td>{{ person.email|urlize }}</td>
                    <td><a href="{% url 'person' pk=person.pk %}">{{ person.pk }}</a></td>
                    <td><a href="{% url 'person' pk=person.pk %}">{{ person.city.country.name }}</a></td>
                    <td><a href="{% url 'person' pk=person.pk %}">{{ person.city.name }}</a></td>
                    <td><a href="{% url 'person' pk=person.pk %}">{{ person.address }}</a></td>
                </tr>
            {% empty %}
                List is empty. Please add some elements.
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-muted">
            <i>List of Persons is empty.</i>
        </p>
    {% endif %}


{% endblock %}