{% extends 'base.html' %}

{% block title %}
    {{ person }} | Persons | {{ WEBSITE }}
{% endblock %}

{% block content %}

    <h1>Persons: {{ person }}</h1>

    <form>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">First Name:</label>
            <div class="col-sm-10 form-control-plaintext">
                {{ person.first_name }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Last Name:</label>
            <div class="col-sm-10 form-control-plaintext">
                {{ person.last_name }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Birthdate:</label>
            <div class="col-sm-10 form-control-plaintext">
                {{ person.birthdate }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Gender:</label>
            <div class="col-sm-10 form-control-plaintext">
                {{ person.get_gender_display }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">E-mail:</label>
            <div class="col-sm-10 form-control-plaintext">
                {{ person.email|urlize }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">id:</label>
            <div class="col-sm-10 form-control-plaintext">
                {{ person.pk }}
            </div>
        </div>

        {% include 'chainstore/buttons_edit_delete_goback.html' %}

    </form>

{% endblock %}


{% comment %} v1
    <p>First Name: {{ person.first_name }}</p>
    <p>Last Name: {{ person.last_name }}</p>
    <p>Birthdate: {{ person.birthdate }}</p>
    <p>Gender: {{ person.get_gender_display }}</p>
    <p>e-mail: {{ person.email|urlize }}</p>
    <p>id: {{ person.pk }}</p>

    <a href="edit">
        <button type="button" class="btn btn-outline-primary">Edit</button>
    </a>
    <a href="delete">
        <button type="button" class="btn btn-outline-danger">Delete</button>
    </a>
    <a href="{% url 'person' %}">
        <button type="button" class="btn btn-outline-secondary">Back to the List</button>
    </a>
    {#    <a href="{% url 'person' %}"><<< Back to the List of Persons</a>#}
{% endcomment %}