{% extends 'base.html' %}

{% load i18n %}

{% block title %}
    {% trans 'Persons'|capfirst %} | {{ WEBSITE }}
{% endblock %}

{% block content %}

    <h1>{% trans 'Persons'|capfirst %} <span class="badge badge-pill badge-primary">{{ persons|length }}</span></h1>

    {% include "chainstore/button_add.html" %}

    {% if persons %}

        <table class="table">

            <thead>
            <tr>
                <th>#</th>
                <th>{% trans 'First Name'|capfirst %}</th>
                <th>{% trans 'Last Name'|capfirst %}</th>
                <th>{% trans 'Birthdate'|capfirst %}</th>
                <th>{% trans 'gender'|capfirst %}</th>
                <th>e-mail</th>
                <th>id</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for person in persons %}
                <tr>
                    <td><a href="{% url 'person' pk=person.pk %}">{{ forloop.counter }}</a></td>
                    <td><a href="{% url 'person' pk=person.pk %}">{{ person.first_name }}</a></td>
                    <td><a href="{% url 'person' pk=person.pk %}">{{ person.last_name }}</a></td>
                    <td>{{ person.birthdate }}</td>
                    <td>{{ person.get_gender_display }}</td>
                    <td>{{ person.email|urlize }}</td>
                    <td><a href="{% url 'person' pk=person.pk %}">{{ person.pk }}</a></td>
                    <td><a href="{% url 'person' pk=person.pk %}">{{ person.city.country.name }}</a></td>
                    <td><a href="{% url 'person' pk=person.pk %}">{{ person.city.name }}</a></td>
                    <td><a href="{% url 'person' pk=person.pk %}">{{ person.address }}</a></td>
                    <td>
                        <a href="{% url 'person' pk=person.pk %}edit">
                            <button type="button" class="btn btn-outline-secondary">{% trans 'Edit' %}</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    {% else %}

        <p class="text-muted">
            <i>List of Persons is empty.</i>
        </p>

    {% endif %}

    {% include "chainstore/button_add.html" %}

{% endblock %}