{% extends 'base.html' %}

{% load i18n %}

{% block title %}
    {% trans 'shops'|capfirst %} | {{ WEBSITE }}
{% endblock %}

{% block content %}

    <h1>{% trans 'shops'|capfirst %} <span class="badge badge-pill badge-primary">{{ shops|length }}</span></h1>

    {% if perms.shop.add_shop %}
        {% include "chainstore/button_add.html" %}
    {% endif %}

    {% if shops %}

        <table class="table">

            <thead>
            <tr>
                <th>#</th>
                <th>{% trans 'Name'|capfirst %}</th>
                <th>{% trans 'Type'|capfirst %}</th>
                <th>{% trans 'Owner'|capfirst %}</th>
                <th>{% trans 'Country'|capfirst %}</th>
                <th>{% trans 'City'|capfirst %}</th>
                <th>{% trans 'Address'|capfirst %}</th>
                <th>{% trans 'Website'|capfirst %}</th>
                <th>id</th>
                <th>{% trans 'version'|capfirst %}</th>
                {% if perms.shop.add_shop %}
                    <th></th>
                {% endif %}

            </tr>
            </thead>

            <tbody>

            {% for shop in shops %}
                <tr>
                    <td><a href="{% url 'shop' pk=shop.pk %}">{{ forloop.counter }}</a></td>
                    <td><a href="{% url 'shop' pk=shop.pk %}">{{ shop.name }}</a></td>
                    <td><a href="{% url 'shoptype' pk=shop.shop_type.pk %}">{{ shop.shop_type }}</a></td>
                    <td><a href="{% url 'person' pk=shop.owner.pk %}">{{ shop.owner }}</a></td>
                    <td><a href="{% url 'country' pk=shop.city.country.pk %}">{{ shop.city.country.name }}</a></td>
                    <td><a href="{% url 'city' pk=shop.city.pk %}">{{ shop.city.name }}</a></td>
                    <td>{{ shop.address }}</td>
                    <td>{{ shop.website|urlize }}</td>
                    <td><a href="{% url 'shop' pk=shop.pk %}">{{ shop.pk }}</a></td>
                    <td><a href="{% url 'shop' pk=shop.pk %}">{{ shop.version }}</a></td>
                    {% if perms.shop.add_shop %}
                        <td><a href="{% url 'shop' pk=shop.pk %}edit">
                            <button type="button" class="btn btn-outline-secondary">{% trans 'Edit' %}</button></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>

        </table>

    {% else %}
        <p class="text-muted">
            <i>List of Shops is empty.</i>
        </p>

    {% endif %}

    {% if perms.shop.add_shop %}
        {% include "chainstore/button_add.html" %}
    {% endif %}

{% endblock %}