{% extends 'base.html' %}

{% load i18n %}

{% block title %}
    {% trans 'Delete' %}: {{ item_name }} | {{ page_title }} | {{ WEBSITE }}
{% endblock %}

{% block content %}

    <h1>{{ page_title }}: {{ item_name }} <span class="badge badge-secondary">{% trans 'Delete' %}?</span></h1>

    <div class="alert alert-danger" role="alert">
        <strong>{% trans 'Warning' %}!</strong> {% trans 'This operation cannot be undone. Are you sure to delete this item?' %}
    </div>

    <form method="post">

        {% csrf_token %}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-danger" disabled>{% trans 'Confirm delete' %}</button>
                <button type="button" class="btn btn-outline-secondary"" onclick="history.back(-1)">{% trans 'Cancel' %}</button>
            </div>
        </div>

    </form>

{% endblock %}