{% extends 'base.html' %}

{% load i18n chainstore_template_tags widget_tweaks%}

{% block title %}
    {% if form.instance.pk %}{% trans 'Edit' %}: {{ form.instance }}{% else %}{% trans 'Add New' %}{% endif %} | {{ page_title }} |
    {{ block.super }}
{% endblock %}


{% block content %}

    <h1>{{ page_title }}:
        {% if form.instance.pk %}{{ form.instance }}
            <span class="badge badge-secondary">{% trans 'Edit' %}</span>
        {% else %}
            <span class="badge badge-secondary">{% trans 'Add New' %}</span>
        {% endif %}

    </h1>

{#        {% show_messages %}#}
{#    {% include 'chainstore/show_messages.html' %}#}

    <form class="form-horizontal" role="form" method="post" novalidate>
        {% csrf_token %}

        {% for field in form %}

{% comment %} error messages v1

            {% if field.errors %}

                <div class="form-group has-error row">
                    <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="col-sm-10">
                        {{ field|attr:"class:form-control" }}
                        <div class="alert alert-danger help-block" role="alert">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                </div>

            {% else %}
{% endcomment %}

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="col-sm-10">
                        {{ field|attr:"class:form-control" }}
                        {% if field.help_text %}
                            <p class="help-block">
                                <small>{{ field.help_text }}</small>
                            </p>
                        {% endif %}

{#                    @inclusion_tag show_form_field_errors #}
                    {% show_form_field_errors field.errors %}

                    </div>
                </div>

{#            {% endif %}#}

        {% endfor %}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                <a href="{% url page_back_button_url %}" class="btn btn-default">{% trans 'Go back' %}</a>
            </div>
        </div>

    </form>

{% endblock %}