<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{ DEFAULT_TITLE }} {% endblock %}</title>
</head>

<body>

    <header>
        <h1>Chain Store</h1>

        <a href="{% url 'main' %}">Main page</a> |
        <a href="{% url 'shop' %}">Shops</a> |
        <a href="{% url 'shoptype' %}">Shop Types</a> |
        <a href="{% url 'person' %}">Contact Persons</a> |
        <a href="{% url 'warehouse' %}">Warehouses</a> |
        <a href="{% url 'city' %}">Cities</a> |
        <a href="{% url 'country' %}">Countries</a>
    </header>

    {% block content %}{% endblock %}


    <footer>
            {% block footer %}
                <p><a href="{% url 'main' %}">Main page</a></p>
                <br>
                <hr>
                {% now 'Y' %} &copy; ChainStore - The best chain store in the world
            {% endblock %}
    </footer>


</body>
</html>