<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{ DEFAULT_TITLE }} {% endblock %}</title>
</head>

<body>

    <header>
        <h1>Chain Store</h1>
    </header>

    {% block content %}{% endblock %}

{#    <p><a href="{% url 'start_page' %}">Start page</a></p>#}
    <p><a href="{% url 'main' %}">Main page</a></p>
{#    <p><a href="{% url 'person_detail' person.pk %}">Person Detail</a></p>#}


    <footer>
            {% block footer %}
                <br>
                <hr>
                    {% now 'Y' %} &copy; ChainStore - The best chain store in the world
            {% endblock %}
    </footer>


</body>
</html>