<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{ WEBSITE }} {% endblock %}</title>
    <link rel="shortcut icon" href="{% static '/chainstore/favicon.ico' %}" type="image/x-icon">
</head>

<body>

<header>
    <h2>{{ WEBSITE }}</h2>

    <a href="{% url 'main' %}">Main page</a> |
    <a href="{% url 'shop' %}">Shops</a> |
    <a href="{% url 'shoptype' %}">Shop Types</a> |
    <a href="{% url 'person' %}">Contact Persons</a> |
    <a href="{% url 'warehouse' %}">Warehouses</a> |
    <a href="{% url 'city' %}">Cities</a> |
    <a href="{% url 'country' %}">Countries</a>
    {#        <hr>#}
</header>

{% block content %}{% endblock %}

<footer>
    {% block footer %}
        <p><a href="{% url 'main' %}">Main page</a></p>
        <hr>
        <p>{{ COPYRIGHT_YEAR }} &copy; {{ WEBSITE }} by {{ AUTHOR }}.</p>

        <p><i>SQL Queries:</i></p>
        <p>{{ sql_queries }}</p>

    {% endblock %}

</footer>

</body>
</html>