{% extends 'base.html' %}

{% block title %}
    ChainStore - The best chain store in the world
{% endblock %}

{% block content %}

    <h1>{{ WEBSITE }}</h1>

    <ul class="main-list">
        <a href="{% url 'shop' %}"><li>Shops</li></a>
        <a href="{% url 'shoptype' %}"><li>Shop Types</li></a>
        <a href="{% url 'person' %}"><li>Persons</li></a>
        <a href="{% url 'warehouse' %}"><li>Warehouses</li></a>
        <a href="{% url 'city' %}"><li>Cities</li></a>
        <a href="{% url 'country' %}"><li>Countries</li></a>
    </ul>

{% endblock %}