<!-- templates/main.html -->

{% extends 'base.html' %}

{% load cache %}
{% cache 15 footer LANGUAGE_CODE %}

{% block title %}
    ChainStore - The best chain store in the world
{% endblock %}

{% block content %}

<h1>{{ WEBSITE }}</h1>

{% comment %}    {% if user.is_authenticated %}
        Hi {{ user.username }}!
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}{% endcomment %}

    {#    <ul class="main ">#}
    {% for key, item in MAIN_MENU %}
        <a class="nav-link" href="{{ item.url }}">
            <li>{{ item.title }}</li>
        </a>
    {% endfor %}
    {#    </ul>#}

    {%  comment %} Menu v1
    <ul class="main-list">
        <a href="{% url 'shop' %}">
            <li>Shops</li>
        </a>
        <a href="{% url 'shoptype' %}">
            <li>Shop Types</li>
        </a>
        <a href="{% url 'person' %}">
            <li>Persons</li>
        </a>
        <a href="{% url 'warehouse' %}">
            <li>Warehouses</li>
        </a>
        <a href="{% url 'city' %}">
            <li>Cities</li>
        </a>
        <a href="{% url 'country' %}">
            <li>Countries</li>
        </a>
    </ul>
{%  endcomment %}

{% endblock %}

{% endcache %}