{% extends 'base.html' %}

{% block title %}
    ChainStore - The best chain store in the world
{% endblock %}

{% block content %}

    <ul class="main-list">
        <li>Shops</li>
        <li>Shop Types</li>
        <li>Persons</li>
        <li><a href="http://127.0.0.1:8000/warehouse/">Warehouses</a></li>
        <li><a href="http://127.0.0.1:8000/place/country/">Countries</a></li>
        <li><a href="http://127.0.0.1:8000/place/city/">Cities</a></li>
{#        <li><a href="{% url 'shop' %}">Магазины</a></li>#}
{#        <li><a href="{% url 'shoptype' %}">Типы магазинов</a></li>#}
{#        <li><a href="{% url 'person' %}">Persons</a></li>#}
{#        <li><a href="{% url 'stock' %}">Склады</a></li>#}
{#        <li><a href="{% url 'country' %}">Страны</a></li>#}
{#        <li><a href="{% url 'city' %}">Города</a></li>#}
    </ul>
{% endblock %}