{% extends 'base.html' %}

{% load i18n %}

{% block title %}
    {% trans 'Shop Types'|capfirst %} | {{ WEBSITE }}
{% endblock %}

{% block content %}

    <h1>{% trans 'Shop Types'|capfirst %} <span class="badge badge-pill badge-primary">{{ shoptypes|length }}</span>
    </h1>

    {% if perms.shop.add_shoptype %}
        {% include "chainstore/button_add.html" %}
    {% endif %}

    {% if shoptypes %}

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>{% trans 'Name'|capfirst %}</th>
                <th>id</th>
                {% if perms.shop.add_shoptype %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for shoptype in shoptypes %}
                <tr>
                    <td><a href="{% url 'shoptype' pk=shoptype.pk %}">{{ forloop.counter }}</a></td>
                    <td><a href="{% url 'shoptype' pk=shoptype.pk %}">{{ shoptype.name }}</a></td>
                    <td><a href="{% url 'shoptype' pk=shoptype.pk %}">{{ shoptype.pk }}</a></td>
                    {% if perms.shop.add_shoptype %}
                        <td>
                            <a href="{% url 'shoptype' pk=shoptype.pk %}edit">
                                <button type="button" class="btn btn-outline-secondary">{% trans 'Edit' %}</button>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}

        <p class="text-muted">
            <i>List of Shop Types is empty.</i>
        </p>

    {% endif %}

    {% if perms.shop.add_shoptype %}
        {% include "chainstore/button_add.html" %}
    {% endif %}

{% endblock %}