{% extends 'base.html' %}

{% block title %}
    Shops | {{ WEBSITE }}
{% endblock %}

{% block content %}

    <h1>Shops</h1>

    {% include "chainstore/button_add.html" %}

    {% if shops %}

        <table class="table">

            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Shop Type</th>
                <th>Onwer</th>
                <th>Country</th>
                <th>City</th>
                <th>Address</th>
                <th>Website</th>
                <th>id</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for shop in shops %}
                <tr>
                    <td><a href="{% url 'shop' pk=shop.pk %}">{{ forloop.counter }}</a></td>
                    <td><a href="{% url 'shop' pk=shop.pk %}">{{ shop.name }}</a></td>
                    <td><a href="{% url 'shoptype' pk=shop.shop_type.pk %}">{{ shop.shop_type }}</a></td>
                    <td><a href="{% url 'person' pk=shop.owner.pk %}">{{ shop.owner }}</a></td>
                    <td><a href="{% url 'country' pk=shop.city.country.pk %}">{{ shop.city.country.name }}</a></td>
                    <td><a href="{% url 'city' pk=shop.city.pk %}">{{ shop.city.name }}</a></td>
                    <td>{{ shop.address }}</td>
                    <td>{{ shop.website|urlize }}</td>
                    <td><a href="{% url 'shop' pk=shop.pk %}">{{ shop.pk }}</a></td>
                    <td>
                        <a href="{% url 'shop' pk=shop.pk %}edit">
                            <button type="button" class="btn btn-outline-secondary">Edit</button>
                        </a>
                    </td>
                </tr>
            {% empty %}
                List is empty. Please add some elements.
            {% endfor %}

            </tbody>

        </table>

    {% else %}
        <p class="text-muted">
            <i>List of Shops is empty.</i>
        </p>

    {% endif %}

    {% include "chainstore/button_add.html" %}

{% endblock %}