{% extends 'base.html' %}

{% block title %}
    {{ shoptype }} | Shop Types | {{ WEBSITE }}
{% endblock %}

{% block content %}

    <h1>Shop Types: {{ shoptype }}</h1>

    <p>Name: {{ shoptype.name }}</p>
    <p>id: {{ shoptype.pk }}</p>
    <p>{{ shoptype.description }}</p>
    <br>
    <a href="edit"><button type="button" class="btn btn-outline-primary">Edit</button></a>
    <a href="delete"><button type="button" class="btn btn-outline-danger">Delete</button></a>
    <a href="{% url 'shoptype' %}"><button type="button" class="btn btn-outline-secondary">Back to the List</button></a>

{#    <br>#}
{#    <a href="{% url 'shoptype' %}"><<< Back to the Shop Types</a>#}

{% endblock %}

