{% extends 'base.html' %}

{% block title %}
    {{ shop }} delete | Shops | {{ WEBSITE }}
{% endblock %}

{% block content %}

    <h1>Shops: {{ shop }}</h1>

    <form method="post">
        {% csrf_token %}
{#        <input type="submit" value="Confirm delete">#}
{#        <input type="submit" class="btn btn-outline-danger" value="Confirm delete">#}
        <input type="submit" class="btn btn-danger" value="Confirm delete">

    </form>

    <br>
    <a href="{% url 'shop' %}"><<< Back to the List of Shops</a>

{% endblock %}