{% extends 'base.html' %}

{% block title %}
    {{ shop }} delete | Shops | {{ WEBSITE }}
{% endblock %}

{% block content %}

    <h1>Shops: {{ shop }}</h1>

    <form method="post">
        {% csrf_token %}
        {#        <input type="submit" value="Confirm delete">#}
        {#        <input type="submit" class="btn btn-outline-danger" value="Confirm delete">#}
{#        <input type="submit" class="btn btn-danger" value="Confirm delete">#}

        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-danger">Confirm delete</button>
            <button type="button" class="btn btn-default btn-custom" onclick="history.back(-1)">Cancel</button>
        </div>

    </form>

{% endblock %}