{% extends 'base.html' %}

{% block title %}
    {{ shop }} edit | Shops | {{ WEBSITE }}
{% endblock %}

{% block content %}

    <h1>Shops: {{ shop }}</h1>

    {%  include 'chainstore/show_messages.html' %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <a href="{% url 'shop' %}"></a>

        {% include 'chainstore/buttons_save_cancel.html' %}

    </form>
    {#    <input type="submit" value="Back to the List of Shops">#}

    <br>
    <a href="{% url 'shop' %}"><<< Back to the List of Shops</a>

{% endblock %}