{% extends 'base.html' %}

{% block title %}
    {{ shop }} | Shops | {{ WEBSITE }}
{% endblock %}

{% block content %}

    <h1>Shops: {{ shop }}</h1>

    <form>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Shop ID:</label>
            <div class="col-sm-10 form-control-plaintext">
                #{{ shop.pk }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10 form-control-plaintext">
                {{ shop.name }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Type:</label>
            <div class="col-sm-10 form-control-plaintext">
                <a href="{% url 'shoptype' pk=shop.shop_type.pk %}">{{ shop.shop_type }}</a>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Owner:</label>
            <div class="col-sm-10 form-control-plaintext">
                <a href="{% url 'person' pk=shop.owner.pk %}">{{ shop.owner }} ({{ shop.owner.email|urlize }})</a>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Address:</label>
            <div class="col-sm-10 form-control-plaintext">
                {{ shop.address }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">City:</label>
            <div class="col-sm-10 form-control-plaintext">
                <a href="{% url 'city' pk=shop.city.pk %}"> {{ shop.city.name }}</a>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Country:</label>
            <div class="col-sm-10 form-control-plaintext">
                <a href="{% url 'country' pk=shop.city.country.pk %}">{{ shop.city.country.name }}</a>
            </div>
        </div>

        {% if shop.sellers.all %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Sellers:</label>
                <div class="col-sm-10 form-control-plaintext">
                    {% for seller in shop.sellers.all %}
                        <p>{{ forloop.counter }}) <a href="{% url 'person' pk=seller.pk %}">{{ seller }}</a>
                            ({{ seller.email|urlize }})</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if shop.warehouses.all %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Warehouses:</label>
                <div class="col-sm-10 form-control-plaintext">
                    {% for warehouse in shop.warehouses.all %}
                        <p>{{ forloop.counter }}) <a href="{% url 'warehouse' pk=warehouse.pk %}">{{ warehouse }}</a>
                        </p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if shop.website %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Website:</label>
                <div class="col-sm-10 form-control-plaintext">
                    {{ shop.website|urlize }}
                </div>
            </div>
        {% endif %}

        {% include 'chainstore/buttons_edit_delete_goback.html' %}

    </form>

    {% comment %} v1
    <p>Shop ID: #{{ shop.pk }}</p>
    <p>Name: {{ shop.name }}</p>
    <p>Type: <a href="{% url 'shoptype' pk=shop.shop_type.pk %}">{{ shop.shop_type }}</a></p>
    <p>Owner: <a href="{% url 'person' pk=shop.owner.pk %}">{{ shop.owner }} ({{ shop.owner.email|urlize }})</a></p>
    <p>Address: {{ shop.address }}</p>
    <p>City: <a href="{% url 'city' pk=shop.city.pk %}"> {{ shop.city.name }}</a></p>
    <p>Country: <a href="{% url 'country' pk=shop.city.country.pk %}">{{ shop.city.country.name }}</a></p>

    {% if shop.sellers.all %}
        <p>Sellers:</p>
        {% for seller in shop.sellers.all %}
            <ul>
                <li><a href="{% url 'person' pk=seller.pk %}">{{ seller }}</a> ({{ seller.email|urlize }})</li>
            </ul>
        {% endfor %}
    {% endif %}

    {% if shop.warehouses.all %}
        <p>Warehouses:</p>
        {% for warehouse in shop.warehouses.all %}
            <ul>
                <li><a href="{% url 'warehouse' pk=warehouse.pk %}">{{ warehouse }}</a></li>
            </ul>
        {% endfor %}
    {% endif %}

    {% if shop.website %}
        <p>Website: {{ shop.website|urlize }}</p>
    {% endif %}


    {% include 'chainstore/buttons_edit_delete_goback.html' %}

    {#    <div class="btn-group" role="group" aria-label="Basic example">#}
    {#        <a href="edit"><button type="button" class="btn btn-outline-primary">Edit</button></a>#}
    {#        <a href="delete"><button type="button" class="btn btn-outline-danger">Delete</button></a>#}
    {#        <a href="{% url 'shop' %}"><button type="button" class="btn btn-outline-secondary">Back to the List</button></a>#}
    {#    </div>#}

{% endcomment %}

{% endblock %}