{% extends 'base.html' %}

{% block title %}
    {{ warehouse }} | Warehouses | ChainStore
{% endblock %}

{% block content %}

    <h2>Warehouses: {{ warehouse }}</h2>

    <p>Name: {{ warehouse.name }}</p>
    <p>Address: {{ warehouse.address }}</p>
    <p>City: <a href="{% url 'city' pk=warehouse.city.pk %}"> {{ warehouse.city.name }}</a></p>
    <p>Country: <a href="{% url 'country' pk=warehouse.city.country.pk %}">{{ warehouse.city.country.name }}</a></p>
    <p>id: {{ warehouse.pk }}</p>
    <br>
    <a href="{% url 'warehouse' %}"><<< Back to the List of Warehouses</a>

{% endblock %}
