{% include 'chainstore/form_template.html' with page_title='Warehouses' page_back_button_url='warehouse' %}


{% comment %} ugly design form

{% extends 'base.html' %}

{% block title %}
    {% if form.instance.pk %}Edit: {{ form.instance }}{% else %}Add New{% endif %} | Warehouses | {{ block.super }}
{% endblock %}

{% block content %}

    <h1>Warehouses:
        {% if form.instance.pk %}{{ form.instance }}
            <span class="badge badge-secondary">Edit</span>
        {% else %}
            <span class="badge badge-secondary">Add New</span>
        {% endif %}

    </h1>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit">

        {% include 'chainstore/buttons_save_cancel.html' %}

    </form>

{% endblock %}
{% endcomment %}