{% extends 'base.html' %}

{% block title %}
    Warehouses | {{ WEBSITE }}
{% endblock %}

{% block content %}

    <h1>Warehouses</h1>

    {% include "chainstore/button_add.html" %}

    {% if warehouses %}
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Address</th>
                <th>id</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for warehouse in warehouses %}
                <tr>
                    <td><a href="{% url 'warehouse' pk=warehouse.pk %}">{{ forloop.counter }}</a></td>
                    <td><a href="{% url 'warehouse' pk=warehouse.pk %}">{{ warehouse.name }}</a></td>
                    <td><a href="{% url 'country' pk=warehouse.city.country.pk %}">{{ warehouse.city.country.name }}</a>
                    </td>
                    <td><a href="{% url 'city' pk=warehouse.city.pk %}">{{ warehouse.city.name }}</a></td>
                    <td>{{ warehouse.address }}</td>
                    <td><a href="{% url 'warehouse' pk=warehouse.pk %}">{{ warehouse.pk }}</a></td>
                    <td>
                        <a href="{% url 'warehouse' pk=warehouse.pk %}edit">
                            <button type="button" class="btn btn-outline-secondary">Edit</button>
                        </a>
                    </td>
                </tr>
            {% empty %}
                List is empty. Please add some elements.
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p class="text-muted">
            <i>List of Warehouses is empty.</i>
        </p>

    {% endif %}

    {% include "chainstore/button_add.html" %}

{% endblock %}